header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;

}
nav {
    
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin: 15px;
}
a {
    text-decoration: none;
    color: #5264C7;
}
section {
    background-color: #FFF9F9;
    padding: 80px 100px;
}
#article-list {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 5px 4px 27px 18px rgba(227,227,227,0.29);
}
.article {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-top: 40px;
}
footer {
    text-align: center;
    background-color: #5264C7;
    color: #FFFFFF;
    padding: 10px;
}