* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/* Buatlah styling section top dibawah ini */
.top {
    padding: 20px;
    display: grid;
    place-items: center;

}
.top .icon {
    margin-top: 25px;
    font-size: 20px;

}

.icon i {
    padding: 20px;
}

.top h2 {
    text-align: center;
}

/* Buatlah styling section container dan card dibawah ini */

.container{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
    place-items: center;
}

.card {
    width: 90%;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
background-color: white;
}
.description {
    padding: 20px;
}
.description p {
    margin-top: 20px;
}
img {
    width: 100%;
}
/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */
@media only screen and (max-width: 480px) {
    .container{ 
        grid-template-columns: 1fr;
        padding: 0px;
    }
    .card {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 780px) {
    .container{ 
        grid-template-columns: 1fr 1fr;
        padding: 0px;
    }
    .card {
        width: 100%;
    }
}

@media only screen and (min-width: 1080px) {
    .container{ 
        width:  1080px;
        margin: 0 auto;
    }
}