* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-size: 14px;
}
.container {
    width: 780px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
}
h1 {
    font-size: 24px;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem 0;
    color: rgb(78, 78, 78);
    border-bottom: 1px solid rgb(209, 209, 209);
}
button , .submit {
    border: 0px;
    padding: 0.5rem 1rem;
    margin: 0.2rem 0.2rem;
    border-radius: 5px;
}

.edit , .submit {
    background-color: rgb(89, 202, 155);
    color: rgb(238, 238, 238);
}

.delete {
    background-color: rgb(231, 133, 133);
    color: rgb(238, 238, 238);
}
table {
    text-align: center;
    border-spacing: 0px;
}

thead{
    background-color: rgb(235, 235, 235);
}

th , td {
    padding: 1rem;
}

form {
    display: grid;
    margin: 0 0 3rem 0;
}

.submit {
    padding: 0.7rem 0;
    font-size: 16px;
}

.inputTyp {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px rgb(209, 209, 209) solid;
}

label {
    margin: 0 0 0.5rem 0;
}

.message {
    text-align: center;
    color: rgb(231, 133, 133);
}