.container-tambah-data {
    width: 780px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30%;    
}
.tambah-data {
    margin: 0.6rem 0;
    background-color: rgb(89, 202, 155);
    color: rgb(238, 238, 238);
}

.change-mode {
    margin: 2rem auto;
    background-color: rgb(89, 202, 155);
    color: rgb(238, 238, 238);
    display: grid;
}

.ul-element {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

.ul-dark {
    background-color: #333;
}
.ul-light {
    background-color: #eee;
}
.li-element {
    padding: 1rem;
}

.a-element {
    text-decoration: none;
}

.a-dark {
    color: rgb(241, 241, 241);
}

.hover-dark:hover {
    background-color: #111;
}