* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-size: 22px;
}

/* Buatlah styling setiap section dibawah ini */
p {
    font-size: 14px;
}
.container {
    width: 780px;
    margin: 0 auto;
    }
.container_hero {
    background-color: #0c6254;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    display : grid;
    grid-template-columns: 60% 40%;
    margin: 5px 0;

}

.container_bottom p a button {
font-size: 14px;

}
.container_support {
    display: grid;
    grid-template-columns: auto;
    padding: 2rem 0;
}
.logo {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.logo img {
    align-self: center;
    justify-self: center;
}
.container_features {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2rem 0;
}
.container_features_title, .container_pricing_title {
    border-bottom: #0c6254 solid 5px;
    display: inline-block;
}
.container_features-card {
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: 50% 50%;
}
.container_features-card p {
    align-self: center;
    justify-self: center;
    padding: 0.5rem 0;

}
.container_support p {
    text-align: center;
}
.container_hero p{
    text-align: right;
}
.container_pricing {
    background-color: #303135;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 3rem 0;
}
.container_pricing-card {
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 15px;
    border-radius: 10px;
}
.container_pricing-card ul li {
    font-size: 14px;
}
.container_pricing-card small {
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 10px 0;
}
/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive dibawah sini*/

@media only screen and (max-width: 480px){
    .container_hero {
        grid-template-columns: auto;
        row-gap: 1rem;
        margin: 1rem;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    .container_features {
        grid-template-columns: auto;
    }
    .container_pricing {
        grid-template-columns: auto;
        margin: 1rem;
    }
    .logo {
        grid-template-columns: auto;
        row-gap: 2rem;
        margin: 1rem 0;
    }
    .container_bottom {
        margin: 0 1rem;
    }
    
}

@media only screen and (min-width: 480px) and ( max-width: 780px ){
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    .container_hero {
        grid-template-columns: auto auto;
        row-gap: 1rem;
        margin: 1rem;
    }
    .container_features {
        grid-template-columns: auto auto;
    }
    .container_pricing {
        grid-template-columns: auto;
        margin: 1rem;
    }
    .logo {
        grid-template-columns: auto;
        row-gap: 2rem;
        margin: 1rem 0;
    }
    .container_bottom {
        margin: 0 1rem;
    }
}